section#about
    h2 about me
    img.about--img(src="assets/images/headshot.jpg", alt="Ben Rugman")
    
.background
    img(src="/assets/svg/aboutbg.svg", alt="background")
    .about--container
        p.about--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro expedita illo animi, a qui possimus, tempore nesciunt, id in ipsa sapiente alias est labore doloremque. Inventore molestiae harum recusandae sapiente, tempora, laborum, nulla ab dignissimos quod aut fuga cupiditate a.
        p.about--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro expedita illo animi, a qui possimus, tempore nesciunt, id in ipsa sapiente alias est labore doloremque. Inventore molestiae harum recusandae sapiente, tempora, laborum, nulla ab dignissimos quod aut fuga cupiditate a.
        p.about--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro expedita illo animi, a qui possimus, tempore nesciunt, id in ipsa sapiente alias est labore doloremque. Inventore molestiae harum recusandae sapiente, tempora, laborum, nulla ab dignissimos quod aut fuga cupiditate a.
        p.about--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro expedita illo animi, a qui possimus, tempore nesciunt, id in ipsa sapiente alias est labore doloremque. Inventore molestiae harum recusandae sapiente, tempora, laborum, nulla ab dignissimos quod aut fuga cupiditate a.

