#about {
  background: url("/assets/svg/aboutbgsm.svg") no-repeat;
  background-size: 100%;

  @include for-tablet-portrait-up {
    background: url("/assets/svg/aboutbg.svg") no-repeat;
    background-size: 100%;
  }
}

.about--img {
  border-radius: 50%;
  display: block;
  width: 40%;
  margin: 0 auto;
  @include for-tablet-landscape-up {
    width: 30%;
  }
  @include for-desktop-up {
    width: 30%;
  }
}

.about--container-text {
  padding-top: 23%;
  @include for-tablet-portrait-up {
    padding-bottom: 10%;
  }

  @include for-tablet-landscape-up {
    padding-top: 30%;
    padding-bottom: 15%;
  }

  @include for-desktop-up {
    padding-top: 30%;
    padding-bottom: 15%;
  }

  .about--text {
    padding: 0 5%;
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 1em;
    color: rgba($text-color, 0.9);

    @include for-tablet-landscape-up {
      font-size: 1.8rem;
    }

    @include for-desktop-up {
      font-size: 2rem;
    }
  }
}
