#about {
  background: url("/assets/svg/aboutbgsm.svg") no-repeat;
  background-size: 100%;
}

.about--img {
  border-radius: 50%;
  display: block;
  width: 40%;
  margin: 0 auto;
}

.about--container-text {
  padding-top: 23%;
  .about--text {
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 1em;
    color: rgba($text-color, 0.9);
  }
}
