.project {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;

  .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8em 0;

    img {
      margin: 1em 0;
    }
  }

  h3 {
    font-size: 1.5rem;
    color: rgba($text-color, 0.5);
    text-transform: uppercase;
    margin-bottom: 0.4em;
  }

  p {
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 0.6em;

    @include for-phone-only {
      font-size: 1.4rem;
    }

    @include for-tablet-portrait-up {
      font-size: 1.5rem;
    }
  }

  .quote {
    color: $accent-color;
  }

  .mockup {
    width: 70%;
  }

  .screenshots {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;

    @include for-phone-only {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    @include for-phone-only {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    @include for-tablet-portrait-up {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    .screenshot {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      img {
        width: 100%;
      }

      p {
        font-size: 1.3rem;
        margin-top: 1em;
        text-align: center;
      }
    }
  }
}

.project--btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  .project--btn {
    @include flex(null, center, space-between);
    margin: 0 0.3em;
    padding: 0.3em 1.3em;
    background-color: $accent-color;
    border-radius: 5px;

    i {
      color: #fff;
      padding-right: 0.5em;
    }

    .project--btntext {
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 0.2em;
    }
  }
}
