extends layout

block content
    
    section.project
        
            h2 Joanna Thorne Wellbeing Website

            .project--btns
                a.project--btn(href='https://joannathornewellbeing.co.uk/' target="_blank")
                    i.fas.fa-tv
                    p.project--btntext view demo
                a.project--btn(href='https://github.com/idleist/joannathornewellbeing' target="_blank")
                    i.fab.fa-github
                    p.project--btntext view code

            .part
                h3.screenshots--heading screenshots
                .screenshots
                    .screenshot
                        img(src="/assets/images/wellbeing.png", alt="wellbeing logo")
                        p Header and navigation menu
                    .screenshot
                        img(src="/assets/images/wellbeing-ss2.png", alt="wellbeing site")
                        p Webpage screenshot
                    .screenshot
                        img(src="/assets/images/wellbeing-mobile.png", alt="wellbeing mobile")
                        p Mobile view
            .part
                h3 project outline
                p The client had a small home business and had built up an online presence on social media.  She had wanted a website for a while but was not sure how to go about it and was confused about hosting a website.  I met with the client and we discussed what she wanted from the website.
                p I used bootstrap and JQuery for responsive styling and navigation toggle for smaller devices.  I think the design is clear and conveys all the information required by the client.  This was my second web  project. 

            .part
                h3 plans
                p We discussed colours and gathered content for the website.  After offering a number of designs, the client liked this mockup, which I designed in Inkscape.
                img.mockup(src="/assets/images/wellbeing-mockup.png", alt="wellbeing mockup")
                
            .part
                h3.screenshots--heading screenshots
                .screenshots
                    .screenshot
                        img(src="/assets/images/wellbeing.png", alt="wellbeing logo")
                        p Header and navigation menu
                    .screenshot
                        img(src="/assets/images/wellbeing-ss2.png", alt="wellbeing site")
                        p Webpage screenshot
                    .screenshot
                        img(src="/assets/images/wellbeing-mobile.png", alt="wellbeing mobile")
                        p Mobile view