extends layout

block content
    
    section.project
        
            h2 my portfolio website

            .project--btns
                a.project--btn(href='https://github.com/idleist/joannathornewellbeing' target="_blank")
                    i.fab.fa-github
                    p.project--btntext view code

            .part
                h3 project outline
                p I wanted to include this portfolio within my projects pages.  I built this site in NodeJS, using the pug templating language.  The portfolio has a working contact form using the Nodemailer package.  Form validation is included server-side with the express-validator package.  I have utilised SCSS for styling, as I can use cross site global variables and mixins for reusable code.
            .part
                h3 plans
                p I wanted to add some personalisation to the website.  I have used svg’s designed in Inkscape to add interest to the page.  My backdrop for the about section is a representation of my career journey from conservationist to developer.
                img.mockup(src="/assets/svg/aboutbgsm.svg", alt="about background")
                p I love working with Inkscape and designing simple, representative images for use in my webpages.  
                img.mockup(src="/assets/svg/contactbg.svg", alt="contact background")
                
                
                
            